body {
    background-color:#eee;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    overflow: hidden;
    background-image:url('../images/background.jpg');
    background-position:center center;
    background-size:cover;
    font-family: 'Silkscreen', cursive !important;
    
    .__points {
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        right:0px;
        top:0px;
        width:40px;
        height:40px;
        border-bottom:2px dashed #fff;
        border-left:2px dashed #fff;
        color:rgb(255, 255, 255);
        text-transform:uppercase;
        font-weight:bold;
        z-index:2000;
        font-size:20px;
    }
    .__hammer {
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        width:100px;
        height:40px;
        right:120px;
        top:0px;
        color:#fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-size:contain;
        font-size:20px;
        z-index:2000;
        background-image:url('../images/sword.png')

    }
    .__lifes {
        position:absolute;
        width:60px;
        height:40px;
        right:70px;
        top:0px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size:contain;
        z-index:2000;
        &.three {
            background-image:url('../images/three_heart.png')
        }
        &.two {
            background-image:url('../images/two_heart.png')
        }
        &.one {
            background-image:url('../images/one_heart.png')
        }

    }
    .container {
        width:100vw;
        height:100vh;
        	
        .__safeZone {
            position:absolute;
            width:40px;
            height:40px;
            background-color:rgba(139, 139, 139, 0.151);
            top:0px;
            bottom:0px;

        }
        .__player {
            width:30px;
            height:30px;
            background-image:url('../images/ufo.png');
            background-repeat: no-repeat;
            border-radius:50%;
            border:1px solid rgba(255, 255, 255, 0);
            position:absolute;
            top:0px;
            left:0px;
            
            background-position:center;
            background-repeat:no-repeat;
            background-size:30px 30px;
            cursor:pointer;
            opacity:0.5;
            transition:opacity 500ms;

            &.__safe {
                opacity:0.5;
            }
            &.__notSafe {
                opacity:1;
            }
           
            
        }
        .__monsters {
            
            border:1px solid rgba(212, 184, 184, 0);
           
            background-repeat:no-repeat;
            background-size:cover;
            z-index:10;
            position:absolute;

            content: '';
            box-sizing: border-box;
            position: absolute;
            animation: move 10s ease infinite;
            
            
            

            &.goodMonster {
                border-radius:20%;
                background-image:url('../images/sword.png') !important;
                
        }
         &.__destruction {
            background-image:url('../images/destruction.png') !important;
         }
        }
        .__finishLine {
            position:absolute;
            display:flex;
            align-items: center;
            justify-content: center;
            width:80px;
            height:30px;
            bottom:0px;
            right:0px;
            
            color:#fff;
            font-size:12px;
            font-weight:bold;
            text-transform:uppercase;
            border-top:2px dashed #fff;
            border-left:2px dashed #fff;

            
        }

    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

